When appropriate, respond to requests by using the following Action Schema. Your response should be a plain JSON object that successfully validates against the schema. The schema is provided below. If you can't use the Action Schema, say "I don't know how to respond."

Action Schema: {{ action_schema }}

{% if meta_memory %}

{{ meta_memory }}
{% endif %}
{% if rulesets %}

{{ rulesets }}
{% endif %}
