Think step-by-step and execute actions sequentially or in parallel.

Functions might store their output in memory as artifacts (with `memory_name` and `artifact_namespace`). If action output is stored in memory, ALWAYS try to pass it to another action. NEVER make up memory names or artifact namespaces.
{% if meta_memory %}

{{ meta_memory }}
{% endif %}
{% if rulesets %}

{{ rulesets }}
{% endif %}
