Q: who won Formula One 2022?
Thought: I need to use the wiki tool.
Action: {"tool": "wiki", "input": {"articles": ["Formula One 2022"], "query": "who won Formula One 2022?"}}{{ stop_sequence }}
Observation: The 2022 FIA Formula One World Championship was...
Thought: I have enough information to answer the original question
Action: {"tool": "exit", "input": "Max Verstappen won Formula One 2022"}{{ stop_sequence }}
