pytest~=7.4.2
pyyaml~=6.0.1
schema~=0.7.5
boto3~=1.28.47
sqlalchemy~=1.4.49
botocore~=1.31.47
moto~=4.2.2
redis~=4.6.0
mongomock~=4.1.2
pymongo~=4.5.0
numpy~=1.25.2
pandas~=2.1.0
pypdf2~=3.0.1
cohere~=4.24
transformers~=4.33.1
docker~=6.1.3
attrs~=23.1.0
jsonschema~=4.19.0
stringcase~=1.2.0
requests~=2.31.0
jinja2~=3.1.2
marshmallow~=3.20.1
tenacity~=8.2.3
anthropic~=0.3.11
openai~=0.28.0
marqo~=1.3.1
trafilatura~=1.6.2
rich~=13.5.2
tiktoken~=0.5.1
neo4j~=5.12.0