memory name: {{ memory.name }}
{{ memory.name }} activities
{% for activity in memory.activities() %}
activity name: {{ memory.activity_name(activity) }}
{{ memory.name }}.{{ memory.activity_name(activity) }} activity description: {{ memory.activity_description(activity) }}
{% if memory.activity_schema(activity) %}
{{ memory.name }}.{{ memory.activity_name(activity) }} activity input value schema: {{ memory.activity_schema(activity) }}
{% else %}
{{ memory.name }}.{{ memory.activity_name(activity) }} activity has no input value
{% endif %}
{% endfor %}
