Text: """{{ text }}"""

Extraction Template JSON Schema: """{{ json_template_schema }}"""

Extract information from the Text based on the Extraction Template JSON Schema into an array of JSON objects.
{% if rulesets %}

{{ rulesets }}
{% endif %}

JSON array:
