tool name: {{ tool.name }}
{{ tool.name }} activities:
{% for activity in tool.activities() %}
activity name: {{ tool.activity_name(activity) }}
{{ tool.name }}.{{ tool.activity_name(activity) }} activity description: {{ tool.activity_description(activity) }}
{% if tool.activity_schema(activity) %}
{{ tool.name }}.{{ tool.activity_name(activity) }} activity input value schema: {{ tool.activity_schema(activity) }}
{% else %}
{{ tool.name }}.{{ tool.activity_name(activity) }} activity has no input value
{% endif %}
{% endfor %}