{% if summary %}
Current text summary: """
{{ summary }}
"""

Rewrite the current text summary to include the following additional text: """
{{ text }}
"""
{% if rulesets %}

{{ rulesets }}
{% endif %}

Rewritten summary:
{% else %}

Summarize the following text: """
{{ text }}
"""

{% if rulesets %}

{{ rulesets }}
{% endif %}

Summary:
{% endif %}
