Always add the header row. Don't use markdown formatting for output. Fields containing line breaks (CRLF), double quotes, and commas should be enclosed in double-quotes.
Column Names: """{{ column_names }}"""

{% if rulesets %}

{{ rulesets }}
{% endif %}
