ramp name: {{ ramp.name }}
{{ ramp.name }} activities
{% for activity in ramp.activities() %}
activity name: {{ ramp.activity_name(activity) }}
{{ ramp.activity_name(activity) }} activity description: {{ ramp.activity_description(activity) }}
{% if ramp.activity_schema(activity) %}
{{ ramp.activity_name(activity) }} activity input value schema: {{ ramp.activity_schema(activity) }}
{% else %}
{{ ramp.activity_name(activity) }} activity has no input value
{% endif %}
{% endfor %}