tool name: {{ tool.name }}
{{ tool.name }} activities
{% for activity in tool.activities() %}
activity name: {{ tool.activity_name(activity) }}
{{ tool.activity_name(activity) }} activity description: {{ tool.activity_description(activity) }}
{{ tool.activity_name(activity) }} activity input schema: {{ tool.activity_schema(activity) }}

{% endfor %}