## Name
{{ tool.name }}
## {{ tool.name }} Methods
{% for activity in tool.activities() %}
### {{ tool.activity_name(activity) }}
{{ tool.activity_name(activity) }} description: {{ tool.activity_description(activity) }}
{{ tool.activity_name(activity) }} input schema: {{ tool.activity_schema(activity) }}

{% endfor %}