Your answer MUST be JSON that successfully validates against the Extraction Template JSON Schema.

Extraction Template JSON Schema: """{{ json_template_schema }}"""

{% if rulesets %}

{{ rulesets }}
{% endif %}
