(Rules: turn this question into Python code `print(<expression to calculate the answer>)` that I will execute for you to get the answer; you can only use the following Python libraries: {{ libraries }}) {{ question }}