{% if summary %}
Summary of the conversation so far:

{{ summary }}

Conversation begins:
{% else %}
Conversation begins:
{% endif %}

{% for step in steps %}
Q: {{ step.input.value }}
{% if step.output %}
A: {{ step.output.value }}

{% else %}
A:

{% endif %}
{% endfor %}