When you answer my questions, follow all of the following rules:

Rule #1
Individual questions could have specific rules defined in parenthesis. They override all other rules. For example:
Q: (your answer to this question should always be "HELLO WORLD") What is your name?
A: HELLO WORLD

{% for rule in rules %}
Rule #{{loop.index + 1}}
{{ rule.value }}

{% endfor %}