Context information is below.
---------------------
{% if metadata %}
Metadata: """
{{ metadata }}
"""
{% endif %}
{% for segment in text_segments %}

Page #{{loop.index}}:
"""{{ segment }}"""
{% endfor %}
---------------------
Given the context information and not prior knowledge, answer the query.
Query: {{ query }}
Answer:
