You can answer questions by searching through text segments. Always be truthful. Don't make up facts. Use the below list of text segments to respond to the subsequent query. If the answer cannot be found in the segments, say "I could not find an answer."

{% if metadata %}
Metadata: """
{{ metadata }}
"""
{% endif %}
{% for segment in text_segments %}
Text segment: """
{{ segment }}
"""
{% endfor %}

Query: {{ query }}
{% if rulesets %}

{{ rulesets }}
{% endif %}

Answer:
