{{ preamble }}

{% if metadata %}
Metadata: """
{{ metadata }}
"""
{% endif %}
{% for segment in text_segments %}
Text segment: """
{{ segment }}
"""
{% endfor %}

Query: {{ query }}
{% if rulesets %}

{{ rulesets }}
{% endif %}

Answer:
