Use the following video frames to answer questions about a video.
The frames are provided in the format: "Frame <video frame number>: <timestamp MM:SS>".

{% for image_frame in image_frames %}
Frame {{ loop.index }}: {{ image_frame.meta["timestamp"] }}
{% endfor %}
