{
  "schema_version": "v1",
  "name_for_human": "{{ name_for_human }}",
  "name_for_model": "{{ name_for_model }}",
  "description_for_human": "{{ description_for_human }}",
  "description_for_model": "{{ description_for_model }}",
  "auth": {
    "type": "none"
  },
  "api": {
    "type": "openapi",
    "url": "{{ api_url }}",
    "is_user_authenticated": false
  },
  "logo_url": "{{ logo_url }}",
  "contact_email": "{{ contact_email }}",
  "legal_info_url": "{{ legal_info_url }}"
}
