Input: based on the following page, how do you get started with Warpspeed? https://github.com/usewarpspeed/warpspeed
Thought: I need to use the web_scraper tool to answer this question.
Action: {"tool": "web_scraper", "input": {"url": "https://github.com/usewarpspeed/warpspeed", "action": "search", "query": "getting started with Warpspeed"}}
Observation: To get started with Warpspeed, first, you have to [...]
Thought: I have enough information to answer the question
Output: To get started with Warpspeed,  first, you have to [...]