name: Release Hotfix
on:
  push:
    branches:
      - release/*
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Release
        uses: googleapis/release-please-action@v4
        with:
          release-type: python
          target-branch: ${{ github.ref_name }}
          token: ${{ secrets.GH_RELEASE_PAT }}
          config-file: .github/release-please-config.hotfix.json
          manifest-file: .github/.release-please-manifest.json
